:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: "black";
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0;
}

/* #root {
    height: 100vh;
}

.app {
    height: 100%;
} */

.font-roboto {
  font-family: "Roboto, Arial, sans-sarif";
}

.font-google-sans {
  font-family: "Google sans", Roboto, Arial, sans-serif;
}

.form_input:focus {
  border-bottom: 1px solid black;
}

.paper-root {
  flex-grow: 1;
}

.tab {
  font-size: 12px;
  color: var(--grey);
  text-transform: capitalize;
  height: 10;
  font-weight: 600;
  font-family: "Google Sans, Roboto, Arial, sans-serif";
}

.tabs {
  height: 10;
}

.question:focus {
  border-bottom: 1px solid rgb(103, 58, 183);
  background-color: var(--white-900);
}

.select {
  width: 230px;
  border: 0.5px solid;
  border: 1.5px solid var(--white-900);
  border-radius: 2px;
}

.text_input {
  width: 490px;
}

.text_input:focus {
  border-bottom: 2px solid rgb(103, 58, 183);
}

.add_border {
  border-left: 6px solid #4285f4;
}

.edit_icon {
  color: var(--grey);
  padding: 8px 5px;
  font-size: 2.2rem !important;
}

.bg-soft-bluetowhite {
  /* background: linear-gradient(to bottom, #e0f7fa, #ffffff); */
  /* background: linear-gradient(to bottom, #E6E6FA, #ffffff);  */
  background: linear-gradient(to bottom, #e0e0f8, #ffffff);
  /* background: linear-gradient(to bottom, #D8BFD8, #ffffff); */
}

.border-light {
  border: 0.5px solid rgba(128, 128, 128, 0.268);
}

.border-bottom-slight {
  border-bottom: 0.3px solid rgba(128, 128, 128, 0.268);
}

.w-45p {
  width: 45%;
}

/* .form-group.error input,
.form-group.error textarea,
.form-group.error .MuiFormControlLabel-root {
    border-color: #f56565; 
    color: #f56565; 
} */

.form-group.error {
    border-color: #f56565;
}

.form-group.error input,
.form-group.error textarea {
    border-color: #f56565;
    color: #f56565;
}

.form-group.error .error-text{
    color: #f56565;
}

/* *********** Copy ***************** */
/* Header Page */
/* .header {
    display: flex;
    position: sticky;
    margin: 0px 10px;
    justify-content: space-between;
    padding: 5px 0px;
    align-items: center;
    background-color: var(--white);
    color: var(--black);
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.header_search {
    flex-direction: row;
    background-color: var(--white-900);
    width: 700px;
    height: 45px;
    border-radius: 5px;
    
}

.header_search > input {
    border: none;
    height: 40px;
    background: transparent;
    outline: none;
    width: 100%;
}

/* Home Template */
/* .template_section {
    background-color: var(--white-900);
    padding-bottom: 40px;
    padding-top: 7px;
}

.template_top {
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.gallery_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.template_body {
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.card {
    margin-left: 20px;
    margin-top: 15px;
}

.card_image {
    box-sizing: border-box;
    height: 120px;
    width: 140px;
    cursor: pointer;
    border-radius: 2px;
    border: 0.2px solid var(--white-border);
}

.card_image:hover {
    border: 1px solid var(--purple);
}

.card_title {
    font-size: 14px;
    margin-top: 2px;
    color: var(--black-light);
    font-weight: 500;
} */

/* Recent Forms */
/* .mainbody {
    background-color: var(--white);
    margin-left: 160px;
    margin-right: 160px;
}

.mainbody_top {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mainbody_top_center {
    display: flex;
    box-sizing: content-box;
    align-items: center;
    padding: 3px 5px;
    border-radius: 6px;
    font-size: 16px;
}

.main_docs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}

.doc_card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 200px;
    margin-right: 20px;
}

.doc_card:hover {
    border: 1px solid var(--purple);
}

.doc_image {
    box-sizing: border-box;
    height: 150px;
    width: 198px;
}

.doc_card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
}

.doc_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.content_left{
    display: flex;
    flex-direction: row;
    align-items: center;
} */
